node_modules
dist
dist-mcp
.storybook
.storybook-react
storybook-static
tokens/build
.git
.gitignore
*.log
*.local
.env*
src/
index.html
vite*.config.ts
tailwind.config.ts
style-dictionary.config.ts
vitest*.d.ts
scripts/
